img {
    max-width: 100%;
  }

  @font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
    @font-face {
        font-family: 'PyeongChangPeace';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'PyeongChang-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
h1{font-family: 'PyeongChangPeace-Bold';
    font-size: 50px;}
h2{
    font-family: 'PyeongChang-Bold';
    font-size: 30px;
}
.grid{
    display:grid;
    grid-template-columns: 300px 1fr/*1fr == 나머지 1로 나눈 것의 1만큼(==나머지 다)*/;
    grid-template-rows: auto;
    border: 1px solid gray;
    }
.목차{
    border: 1px solid/*실선*/ gainsboro;
    padding-left: 30px;
  }
      
.내용{
    padding-left: 50px;
    padding-right: 50px;
}
#special{
    color:rgb(0, 0, 173);
}
a:link {
    color:rgb(0, 0, 173);
    text-decoration: none;
  }
  a:visited {
    color:rgb(0, 0, 173);
    text-decoration: none;
  }
  a:hover {
    color : rgb(255, 174, 0);
    text-decoration: underline;
  }
  a:active {
    color : rgb(255, 216, 132);
    text-decoration: none;
  }